# Created by venv; see https://docs.python.org/3/library/venv.html
# Entorno virtual

venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración y variables de entorno
.env
.env.*

# Archivos de bases de datos
*.sqlite3
*.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y dumps
*.log
*.pot
*.pyc

# Archivos de test y coverage
.coverage
.tox/
.nox/
coverage.xml
htmlcov/

# Entornos de desarrollo
.idea/
.vscode/
*.code-workspace

# Otros
.mypy_cache/
.pytest_cache/

